{% extends "layout.html" %}

{% block content %}
	<button type="button" class="btn btn-primary btn-lg">Muelle ON</button>
	<button type="button" class="btn btn-secondary btn-lg">Muelle OFF</button>
	<div class="row">
    <div class="col">
	 </div>
	<button type="button" class="btn btn-primary btn-lg">Casa ON</button>
	<button type="button" class="btn btn-secondary btn-lg">Casa OFF</button>
    </div>
	
	
	<div class="slidecontainer">
  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
</div>





{% endblock %}
